<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-apple-music"
        version="0.2.1">

  <name>Cordova Apple Music</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/appleMusicPlugin.js" target="js/appleMusicPlugin.js"/>

  <js-module src="www/appleMusicPlugin.js" name="appleMusicPlugin">
    <clobbers target="appleMusicPlugin" />
  </js-module>

  <platform name="ios">
    <config-file target="config.xml" parent="/widget">
      <feature name="AppleMusic">
        <param name="ios-package" value="CordovaAppleMusic" />
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <header-file src="src/ios/CordovaAppleMusic.h" target-dir="AppleMusic"/>
    <source-file src="src/ios/CordovaAppleMusic.m" target-dir="AppleMusic"/>

  </platform>
</plugin>